<div class="card">
    <div class="card-body">
      <h1 class="card-title text-primary mb-5">{{mode == 'edit' ? 'Editar' : 'Crear'}} Propiedad</h1>
     
      <form #f="ngForm"  name="form" (ngSubmit)="f.form.valid && create(f)" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="property.name" #name="ngModel" [disabled]="mode == 'view'" required />
          <div *ngIf="f.submitted && !name.valid" class="help-block">Nombre es requerido.</div>
        </div> 

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label>Categoría</label>
              <select name="categoryId" [(ngModel)]="property.categoryId" #categoryId="ngModel" class="form-control" [disabled]="mode == 'view'" required>
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
            </div>  
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="price">Precio</label>
              <input type="text" class="form-control" name="price" [(ngModel)]="property.price" #price="ngModel" [disabled]="mode == 'view'" />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !area.valid }">
              <label for="area">Area</label>
              <input type="area" class="form-control" name="area" [(ngModel)]="property.area" #area="ngModel" [disabled]="mode == 'view'" required />
              <div *ngIf="f.submitted && !area.valid" class="help-block">Area es requerida.</div>
            </div>
      
          </div>
        </div>
                
        <div class="form-group">
          <label>Identificación Propietario</label>
          <input type="ownerIdentificationNumber" class="form-control" name="ownerIdentificationNumber" [(ngModel)]="property.ownerIdentificationNumber"
           #ownerIdentificationNumber="ngModel" [disabled]="mode == 'view'" required />
          <div *ngIf="f.submitted && !ownerIdentificationNumber.valid" class="help-block">Propietario es requerida.</div>
        </div>      

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label>Categoría</label>
              <select name="cityId" [(ngModel)]="property.cityId" #cityId="ngModel" class="form-control" [disabled]="mode == 'view'" required>
                <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label>Código Postal</label>
              <input type="postalCode" class="form-control" name="postalCode" [(ngModel)]="property.postalCode" #postalCode="ngModel"  [disabled]="mode == 'view'"/>          
            </div>
          </div>
        </div>       

        <div class="form-group">
          <label>Dirección 1</label>
          <input type="address1" class="form-control" name="address1" [(ngModel)]="property.address1" #address1="ngModel" [disabled]="mode == 'view'" required />
          <div *ngIf="f.submitted && !address1.valid" class="help-block">Dirección es requerida.</div>
        </div>

        <div class="form-group">
          <label>Dirección 2</label>
          <input type="address2" class="form-control" name="address2" [(ngModel)]="property.address2" #address2="ngModel" [disabled]="mode == 'view'" required />
          <div *ngIf="f.submitted && !address2.valid" class="help-block">Dirección es requerida.</div>
        </div>      

        <div class="form-group">
          <button  *ngIf="mode != 'view'" [disabled]="loading" class="btn btn-primary">Guardar</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div> 
      </form>
    </div>
  </div>
  
