<div class="card">
    <div class="card-body">
      <div class="modal-header" *ngIf="activeModal">
        <h1 class="card-title text-primary mb-5">{{mode == 'edit' ? 'Editar' : 'Datos'}} Propiedad</h1>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm"  name="form" (ngSubmit)="f.form.valid && create(f)" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <label for="name">Nombre</label>
          <input type="text" maxlength="100" class="form-control" name="name" [(ngModel)]="property.name" #name="ngModel" [disabled]="mode == 'view'" required  />
          <div *ngIf="f.submitted && !name.valid" class="help-block">Nombre es requerido.</div>
        </div> 

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label>Categoría</label>
              <select name="categoryId" [(ngModel)]="property.categoryId" #categoryId="ngModel" class="form-control" [disabled]="mode == 'view'" required>
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
              <div *ngIf="f.submitted && !categoryId.valid" class="help-block">Categoría es requerida.</div>
            </div>  
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="price">Precio</label>
              <input type="number" class="form-control" name="price" [(ngModel)]="property.price" #price="ngModel" OnlyNumbers  [disabled]="mode == 'view'" required/>
              <div *ngIf="f.submitted && !price.valid" class="help-block">El Precio es requerido.</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !area.valid }">
              <label for="area">Area</label>
              <input type="number" class="form-control" name="area" [(ngModel)]="property.area" #area="ngModel" OnlyNumbers [disabled]="mode == 'view'" required />
              <div *ngIf="f.submitted && !area.valid" class="help-block">Area es requerida.</div>
            </div>
      
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label>Identificación Propietario</label>
              <input type="text" maxlength="30" class="form-control" name="identificationNumber" [(ngModel)]="property?.owner.identificationNumber"
              (ngModelChange)="identificationNumberChange($event)"
               #identificationNumber="ngModel" [disabled]="mode == 'view'" required />  
               <div *ngIf="f.submitted && !identificationNumber.valid" class="help-block">Identificación del propietario es requerida.</div>
               
            </div>  
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label>Nombre Propietario</label>
              <input type="text" maxlength="50" class="form-control" name="firstName" [(ngModel)]="property?.owner.firstName" #firstName="ngModel"  [disabled]="mode == 'view'" required/>                        
              <div *ngIf="f.submitted && !firstName.valid" class="help-block">Nombre del propietario es requerido.</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label>Apellido Propietario</label>
              <input type="text" maxlength="50" class="form-control" name="lastName" [(ngModel)]="property?.owner.lastName" #lastName="ngModel"  [disabled]="mode == 'view'" required/>          
              <div *ngIf="f.submitted && !lastName.valid" class="help-block">Apellido del propietario es requerido.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label>Ciudad</label>
              <select name="cityId" [(ngModel)]="property.cityId" #cityId="ngModel" class="form-control" [disabled]="mode == 'view'" required>
                <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
              </select>
              <div *ngIf="f.submitted && !cityId.valid" class="help-block">Ciudad es requerida.</div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label>Código Postal</label>
              <input type="text" maxlength="15" class="form-control" name="postalCode" [(ngModel)]="property.postalCode" #postalCode="ngModel"  [disabled]="mode == 'view'"/>          
            </div>
          </div>
        </div>       

        <div class="form-group">
          <label>Dirección 1</label>
          <input type="text" maxlength="100" class="form-control" name="address1" [(ngModel)]="property.address1" #address1="ngModel" [disabled]="mode == 'view'" required />
          <div *ngIf="f.submitted && !address1.valid" class="help-block">Dirección es requerida.</div>
        </div>

        <div class="form-group">
          <label>Dirección 2</label>
          <input type="text" maxlength="100" class="form-control" name="address2" [(ngModel)]="property.address2" #address2="ngModel" [disabled]="mode == 'view'"  />
        </div>      

        <div class="form-group">
          <button  *ngIf="mode != 'view'" [disabled]="loading" class="btn btn-primary">Guardar</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div> 
      </form>
    </div>
  </div>
  
